
@{
    ViewBag.Title = "EmailSentPasswordChangeRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    div.body-content div, div.body-content,div {
        color: gray;
    }

    #body.home div div, #body.home div div:first-child {
        float: left;
        width: 960px;
    }

    .form-control {
        width: 250px;
        float: left;
    }

    .control-label {
        width: 150px;
        text-align: right;
        float: left;
    }
</style>
<div>
    <h1>Your Password to <a href="http://www.entertainment.ticketmaster.co.uk">Entertainment Ticket Master</a> has been changed</h1>
    <h2>You will recieve an email with instructions shortly</h2>
    <p>
        Your email has been changed, and and email has been sent to you with credentials to login and change your email.
    </p>
    <p>
        If you don't receive the email in the next 10 minutes please contact our customer support team on the site.
    </p>
    <p>
        Thanks from Ticket Master<br />Ticketing Support Team.
    </p>
</div>