<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.6.4" targetFramework="net35" />
  <package id="jQuery.UI.Combined" version="1.9.2" targetFramework="net35" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net35" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net35" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net35" />
</packages>