<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: "/api/SocialMedia",
            type: "GET",
            dataType: "json",
            success: function(data, textStatus, jqXHR) {
                debugger;              
                $.each(data, function (index, value) {
                    if (index == 0) {
                        var firstli = $('ul#twitterProfileFeeds li').find('p#firstTweet');
                        var firstDuration = $('ul#twitterProfileFeeds a#firstDuration');
                        firstli.html(value.GroupDescription);
                        firstDuration.html(value.Duration);
                        firstDuration.attr('href', value.GroupUrl);
                    } else {
                        var secondli = $('ul#twitterProfileFeeds li').find('p#secondTweet');
                        var secondDuration = $('ul#twitterProfileFeeds a#secondDuration');
                        secondli.html(value.GroupDescription);
                        secondDuration.html(value.Duration);
                        secondDuration.attr('href', value.GroupUrl);
                    }
                });
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
</script>

<span>Recent Tweets</span>
<ul id="twitterProfileFeeds">
    <li>
        <p id="firstTweet">
            Sed id mattis tellus. Proin egestas velit vel neque placerat sed interdum neque porta.
        </p>
        <span><a href="#" id="firstDuration">- 1 day ago</a></span>
    </li>
    <li>
        <p id="secondTweet">
            Praesent at urna ac urna congue convallis.
        </p>
        <span><a href="#" id="secondDuration">- 2 day ago</a></span>
    </li>
</ul>
