@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<style type="text/css">
    div.body-content div, div.body-content, div {
        color: gray;
    }

    #body.home div div, #body.home div div:first-child {
        float: left;
        width: 960px;
    }

    .form-control {
        width: 250px;
        float: left;
    }

    .control-label {
        width: 150px;
        text-align: right;
        float: left;
    }
</style>
<div>
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>
