@{
    ViewBag.Title = "About";
}

<style type="text/css">
    div.body-content div{color:gray;}

    #body.home div div, #body.home div div:first-child {
        float: left;
        width: 960px;
    }
</style>

<div class="body-content">
    <div>
        <h2>About</h2>
        <h4>The Company</h4>
        <img src="/images/cinema4.jpg" alt="">
        <h3>We Have Free Templates for Everyone</h3>
        <p>
            Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/terms">Terms of Use</a>. You can even remove all our links if you want to.
        </p>
        <h3>We Have More Templates for You</h3>
        <p>
            Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you’re looking for. But if you don’t find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you’re looking for something diferent, something special. And we love the challenge of doing something diferent and something special.
        </p>
        <h3>Be Part of Our Community</h3>
        <p>
            If you're experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forums/">on our forum</a> and meet other people in the community who share the same interests with you.
        </p>
        <h3>Template details</h3>
        <p>
            Design version 5 <br> Code version 2 <br><br>
        </p>
        <p>
            Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/discuss/cinematheaterwebsitetemplate/">Cinema Theatre Website Template</a>.<br><br>
        </p>
        <p>
            Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.<br><br>
        </p>
        <p>
            Please feel free to remove some or all the text and links of this page and replace it with your own About content.
        </p>
    </div>

    <div><br /></div>
</div>
