
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    div.body-content div {
        color: gray;
    }

    #body.home div div, #body.home div div:first-child {
        float: left;
        width: 960px;
    }
</style>

<div class="body-content">
    <div>
        <h2>Blog</h2>
        <h3>We Have Free Templates for Everyone</h3>
        <p>
            Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/terms">Terms of Use</a>. You can even remove all our links if you want to.
        </p>
        <h3>We Have More Templates for You</h3>
        <div style="color: white; float: left; width: 90%;">
            <script type="text/javascript">
                var disqus_developer = true; </script>
            <div id="disqus_thread" class="smallText" style="color: silver; font-size: small;">
            </div>
            <script type="text/javascript" src="http://disqus.com/forums/martinlayooinc/embed.js"></script>
            <noscript>
                <a href="http://disqus.com/forums/martinlayooinc/?url=ref">View the discussion thread.</a>
            </noscript>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by<span class="logo-disqus">Disqus</span></a>
        </div>

    </div>
</div>


